body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #3E2723, #4b3b30);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}
.pdf-container {
    width: 80%;
    height: 90vh;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
}
iframe {
    width: 100%;
    height: 100%;
    border: none;
}
@media screen and (min-width: 390px) {
    body {
        font-size: 14px; /* Ajuste do tamanho da fonte */
    }

    .container__card {
        padding: 1.5em 3em; /* Reduz o padding para caber melhor */
    }

    .titulo__principal {
        font-size: 2em; /* Reduz o tamanho do título */
    }

    .paragrafo {
        font-size: 0.9em; /* Ajusta o tamanho do texto */
    }

    .image-container img {
        width: 250px; /* Reduz o tamanho da imagem */
    }

    button {
        font-size: 12px; /* Ajusta o tamanho do texto nos botões */
        padding: 0.6em; /* Reduz o padding dos botões */
    }
}
